* {
  box-sizing: border-box;
}

body {
  font-family: "Helvetica Neue",Helvetica,Arial;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh;
  overflow: hidden;
  margin: 0;
}


.bg-img{
    position: absolute;
    top: 0px;
    left: 0px;
    background: url('rnm.jpg') no-repeat center;
    width: calc(100vw + 60px);
    height: calc(100vh + 60px);
    filter: blur(30px);
    z-index: -1;
}

.text{
    color: white;
    font-size: 50px;
}

.btn{
  background: rgb(0, 42, 62);
  border: 2px solid rgb(0, 42, 62);
  border-radius: 10pc;
  height: 50px;
  width: 150px;
  color: white;
  font-size: 12px;
}

.btn:hover{
  cursor: pointer;
}

.rnm{
  color: rgb(0, 42, 62);
  border: 2px solid  rgb(0, 42, 62);
  background: transparent;
  height: 60px;
  width: 160px;
  margin-top: 10px;
  font-size: 15px;
  opacity: 0;
}

.rnm a{
  text-decoration: none;
  color: rgb(0, 42, 62);
}

.rnm:hover{
  cursor: pointer;
}